* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
}

.sthree__3d {
    position: relative;
}

/*------------------
 * 2D LAYER
 *-----------------*/
.sthree__2d {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    user-select: none;
    pointer-events: none;

    color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
}

/* LOADING -----------------------------------*/
.sthree__2d .__loading-container {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: all;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sthree__2d .__loading-container .__progress{
    width: 100%;
}

.sthree__2d .__loading-container .__title {
    text-align: center;
}

.sthree__2d .__loading-container .__description {
    font-size: smaller;
}

/* UI ----------------------------------------*/
.sthree__2d .__ui-container{
    width: 100%;
    height: 100%;

    box-sizing: border-box;
    padding: 15px;
}
.sthree__2d .__ui-container .__credits,
.sthree__2d .__ui-container .__description{
    text-align: center;
    white-space: pre-line;
}

.sthree__2d .__ui-container .__credits a,
.sthree__2d .__ui-container .__description a,
.sthree__2d .__ui-container .__git{
    background-color: #ffffff99;
}

.sthree__2d .__ui-container .__credits a,
.sthree__2d .__ui-container .__description a,
.sthree__2d .__ui-container .__git{
    pointer-events: auto;
    font-weight: bold;
}

.sthree__2d .__ui-container .__git{
    text-decoration: none;
    font-size: xxx-large;
    border-radius: 1em;
    padding: 0.2em;
    box-shadow: 1px 1px 1px;

    bottom: 0;
    right: 0;
    position: absolute;
    margin: 0.5em;
}
.sthree__2d .__ui-container .__credits a:hover,
.sthree__2d .__ui-container .__description a:hover,
.sthree__2d .__ui-container .__git:hover{
    background: #ffffffee;
}